.mainContent {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 500px;
	padding: 10px;
}
h1 h2 h3 h4 h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

div {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}
 
header {
	background-color: #ffffff;
	height: 50px;
	border-bottom: 5px solid #cccccc;
}
body {
	background-color: #dddddd;
}
#PictureandText {
	margin-top: 30px;

}

img {
	width: 150px;
	height: auto;
	float: left;
	padding: 5px;
	
}

.name {
	float: left;
	margin-left: auto;
	color: #ffffff;
	background-color: #4aaaa5;
	height: 30px;
	font-size: 24px;
	padding: 10px;
}
.headerlinks {
	float: right;
}
.MainAboutMe {
	color: #4aaaa5;
	font-size: 24px;
	height: 50px;
	padding-right: 10px;
	padding-top: 10px;
	border-bottom: 2px solid #cccccc;
}
footer {	
	background-color: #666666;	
	height: 50px;
	border-top: solid 5px #4aaaa5;
	text-align: center;
	color: #dddddd;
	padding-top: 15px;
}